.form__container {
  height: 100vh;
  background-color: #1b1b32;
}
.form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #6e6d71db;
  border-radius: 10px;
  height: 50%;
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form h1 {
  color: rgb(30, 27, 32);
  font-family: "Montserrat", sans-serif;
}

.form input {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  border: none;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  outline: 1.4px solid rgb(30, 27, 32);
}
.form button {
  padding: 10px;
  background-color: rgb(30, 27, 32);
  color: white;
  border: none;
  cursor: pointer;
}
.user__note {
  margin-top: 20px;
  font-size: 20px;
  font-family: "Montserrat";
}
.user__note_para {
  color: rgb(217, 213, 213);
  font-size: 15px;
  font-family: calibri;
}

/* Mobile Responsive for 600px and below */
@media screen and (max-width: 600px) {
  .form {
    width: 75%;
  }
  .form h1 {
    font-size: 25px;
  }
  .form input {
    height: 33%;
  }
  .form input::placeholder {
    font-size: 12px;
  }
  .form button {
    padding: 7px;
    font-size: 12px;
    font-family: calibri;
  }
  .user__note {
    font-size: 17px;
  }
  .user__note_para {
    font-size: 13px;
  }
}
